{% extends "base.html.twig" %}

{% block title %}Page produit{{ parent() }}{% endblock %}

{% block contenu %}
<h1 class="text-primary text-center mt-3">Page produit</h1>
<div class="container">
    <div class="row">
        <div class="col-2">
        {% if form.produit.photo is not empty %}
            <img src="{{form.produit.photo}}" alt="image du produit" class="img-thumbnail">
        {% else %}
            <img src="images/default.jpg" alt="image du produit" class="img-thumbnail">
        {% endif %}
        
        </div>
        <div class="col-4">
            <h1>{{form.produit.designation}}</h1>
            <p>{{form.produit.description}}</p>
            <p>{{form.produit.prix}} $</p>
        </div>
        <div class="col-2 align-self-center">
            <button class="btn btn-primary">Ajouter au panier</button>
            <small>TVA 30%</small>
        </div>
    </div>
</div>
{% endblock %}