{% extends "base.html.twig" %}

{% block title %}Modifier le type{{ parent() }}{% endblock %}

{% block contenu %}

{% if form.type is defined %}

<h1>Modifier le type</h1>

<form method="POST" action="index.php?page=typeModif" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="type" value="{{form.type.libelle}}">
  </div>

  <input type="hidden" name="id" value="{{form.type.id}}" />

  <button type="submit" name="btModifier" class="btn btn-primary">Submit</button>
</form>

{% else %}
    {% if form.valide == true %}
        <h2 class="h3 mb-3 font-weight-normal">{{form.message}}</h2>
    {% else %}
        <h2 class="alert alert-danger" role="alert">{{ form.message }}</h2> 
    {% endif %}
    
    <a href="index.php?page=type">Retourner sur la liste des types</a>
{% endif %}

{% endblock %}