{% extends "base.html.twig" %}

{% block title %}Liste des type{{ parent() }}{% endblock %}

{% block contenu %}

<div class="container">

{% if form.valide == false %}
    <h1>Erreur</h1>
    <p>{{ form.message }}</p>
    <a href="index.php?page=type">Retour à la liste de type</a>
{% else %}  

<h1>Liste des type de produit</h1>

{% if form.etat is defined %}
    {% if form.etat == true %}
        <h2 class="text-success">Suppression réussi</h2>
    {% else %}
        <h2 class="text-danger">Erreur dans la suppression</h2>
    {% endif %}
{% endif %}

{% if form.message %}
    <h2 class="text-danger">{{form.message}}</h2>
{% endif %}

<form method="post" action="index.php?page=type">
    <div class="form-group">
        <label for="addType">Ajouter un type</label>
        <input type="text" name="libelleType" class="form-control" id="addType"  placeholder="Enter type">
       
    </div>
    <button type="submit" name="btType" class="btn btn-primary">Valider</button>
</form>
<br>

<form method="POST" action="index.php?page=type" enctype="application/x-www-form-urlencoded">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">Libelle</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in liste %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.libelle }}</td>
                    <td><a href="index.php?page=typeModif&id={{ i.id }}">Modifier</a></td>
                    <td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{i.id}}"/></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button type="submit" name="btSupprimer" class="btn btn-danger float-right">Supprimer</button>
</form>

<nav class="float-center">
    <ul class="pagination justify-content-center m-4 p-4">
        <li class="page-item {% if form.numeroPage == 0 %}disabled{% endif %}">
            <a class="page-link" href="?page=type&nopage=0" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for n in 1..form.nombrePage %}
            <li class="page-item {% if form.numeroPage == n - 1 %}active{% endif %}"><a class="page-link" href="?page=type&nopage={{ n-1 }}">{{ n }}</a></li>
        {% endfor %}

        <li class="page-item {% if form.numeroPage == form.nombrePage - 1 %}disabled{% endif %}">
            <a class="page-link" href="?page=type&nopage={{form.nombrePage -1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
  </ul>
</nav>

</div>
{% endif %}

{% endblock %}