{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{{ parent() }}{% endblock %}

{% block contenu %}

<h1>Liste des utilisateur</h1>

{% if form.etat is defined %}
    {% if form.etat == true %}
        <h1 class="h3 mb-3 font-weight-normal">Suppression réussie</h1>
    {% else %}
        <h1 class="alert alert-danger" role="alert">Problème de suppression</h1>
    {% endif %}
{% endif %}

<form class="form-signin" action="index.php?page=utilisateur" method="POST" enctype="application/x-www-form-urlencoded">
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Rôle</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in liste %}
                <tr>
                    <td>{{ i.email }}</td>
                    <td>{{ i.nom }}</td>
                    <td>{{ i.prenom }}</td>
                    <td>{{ i.libellerole }}</td>
                    <td><a href="index.php?page=utilisateurModif&id={{i.id}}">Modifier</a></td>
                    <td><a href="index.php?page=utilisateur&id={{i.id}}">Supprimer</a></td>
                    <td><input type="checkbox" name="cocher[]" id="cocher[]" value="{{i.id}}"/></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary float-right" type="submit" name="btSupprimer">Supprimer</button>
</div>
</form>

{% endblock %}